<!DOCTYPE html>
<html>
    <head>
        <title>{{searching}}</title>
        <style>
            section{
                display: grid;
                gap:20px;
                grid-template-columns: repeat(3, 1fr);
            }
        </style>
    </head>
    <body>
        <h1>SEARCH RESULT</h1>
        <h3>FOUND {{length}} RESULTS ABOUT {{searching}}</h3>
        <a href = "/export?word={{searching}}">Export to csv</a>
        <section>
            <h4>No</h4>
            <h4>TITLE</h4>
            <h4>COMPANY</h4>
            {%for job in jobs%}
                <span>{{job.No}}</span>
                <span>{{job.title}}</span>
                <span>{{job.company}}</span>
            {% endfor %}
        </section>
    </body>
</html>


